.margen {
  margin: 100px;
}

body {
  height: 100%;
  background-color: lightblue;
}

.index-container {
  width: 80%; 
  height: 500px; 
  border-radius: 21px 21px 0 0;
  align-items: center;
  justify-content: center;
}

.index-title {
  flex: 1;
}


.m_left {
  margin-left: 20px;
}